* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 77, 88);    
}
.main-container {
    padding: .5rem;
    margin: auto;
    width: 30vw;
    height: auto;
    border: 1px solid black;
    border-radius: .4rem;
    background-color: rgb(206, 96, 105); 
    
}
.header-container {
    padding: 1rem;
    
}
.todo-container {
    padding: 1rem;
    font-size: .8rem;
    color: rgb(109, 107, 107);
}
.completed-container {
    padding: 1rem;
}
.todo__footer {
    padding: 1rem;
}
.body__title {
    font-size: 1.5rem
}
.body__day {
    font-size: 1.4rem;
    
}
.body__date {
    font-size: 1.4rem;
    margin-bottom: 1 rem;
}
.todo__input {
    border:1px solid rgba(107, 104, 104, 1);
    padding: .3rem 1rem;
    width: 80%;
    border-radius: .2rem;
}
.todo__btn {
    border:1px solid rgba(107, 104, 104, 1);
    padding: .3rem;
    background-color: rgb(255, 255, 255);
    width: 15%;
    border-radius: .2rem;
    float: right;
}
.todo__btn:hover {
background-color: rgb(51, 51, 199);
}
.todo-item {
    background-color: rgb(198, 229, 240);
    border: 1px solid rgb(247, 211, 9);
    border-radius: .2rem;
    margin-bottom: 1rem;
}
.todo-item .delete-button {
    display: none;
    
}
.todo-item:hover .delete-button {
    display: block;
    background-color: rgb(51, 51, 199);
    border: 1px solid rgb(247, 211, 9);
    width: 15%;
    border-radius: .2rem;
    float: right;
    text-align: center; 
}
.todo__footer {
    padding: 1rem;
    font-size: .8rem;
    color: rgb(109, 107, 107);
}
.footer__btn--complete {
    border:1px solid rgba(107, 104, 104, 1);
    padding: .3rem;
    background-color: rgb(247, 231, 6);
    width: 40%;
    border-radius: .2rem;
    float: left;
}
.footer__btn--clear {
    border:1px solid rgba(107, 104, 104, 1);
    padding: .3rem;
    background-color: rgb(247, 231, 6);
    width: 20%;
    border-radius: .2rem;
    float: right;
}